@font-face {
  font-family: 'Audrey Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Audrey Medium'), url('assets/Audrey-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Audrey Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Audrey Normal'), url('assets/Audrey-Normal.woff') format('woff');
}

h1 {
  font-family: 'Audrey Medium', sans-serif;
  font-size: 32px;
  margin-top: 0;
  padding: 0;
}

h2 {
  font-family: 'Audrey Normal', sans-serif;
  font-size: 28px;
  margin-top: 0;
  padding: 0;
  margin-bottom:0;

}

h3{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

h4{
  font-family: 'Noto Sans JP', sans-serif;
  fontsize:26px;
  margin: 0;
  padding: 0;
}


p{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:16px:
}

small{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  text-align: center;
}

img{
  width:100%;
  display:table;
  table-layout:fixed;
}

ul{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:16px:
}

.m-t-20{
  margin-top:20px;
}

.btn{
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: solid 2px #232323;
  background-color: #EBEAE9;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:16px:
  color: #232323;
}

.btn:visited{
  color: #232323;
  text-decoration: none;
}

.btn:hover{
  color: #ffffff;
  background-color: #232323;
  border: solid 2px #232323;
}


/* SP */
@media screen and (max-width: 480px) {
  body {
    background-color: #EBEAE9;
    margin: 0;
    padding: 0;
    width:100%;
  }



  .wrap {
    padding: 0;
    margin: 0;
    width:100%;
    position: absolute;
  }

  .menubar {
    height: 40px;
    margin-top: 0px;
    border-bottom: solid 1px #232323;
    margin-bottom:32px;
  }

  .pc-logo{
    display:none;

  }

  .logo{
    width:240px;
    margin-left:16px;
    padding-top:8px;
    padding-bottom:8px;
  }

  .c-main {
    padding: 0;
    margin: 0;
  }

  .hero-header {
  }

  .m-t-24{
    margin-top:24px;
  }

  .hero-text {
    margin-left: 16px;
    margin-right: 16px;
  }

  .h-t-mt {}

  .hero-image {
    margin: 0;
    padding: 0;
  }

  .youtube iframe {
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0;
    background-color: #cccccc;

  }


    .main-heading {
      position: relative;

      padding: 0;
      padding-left: 8px;
    }

    .m-h-text {

      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      margin-bottom:32px;
    }

    .m-h-content{
      margin:0;
      padding:0;
      margin-bottom:36px;
    }

    .m-h-icon {
      margin-top:32px;
      position: block;
      width:100%;
    }

    .sns{
      display: inline-block;
      padding:0;
      margin:0;
      padding-left: 8px;
      padding-right:8px;
      padding-top:40px;
      padding-bottom: 40px;

    }

    .sns-icon{
      width:116px;
      height:37px;
      display: flex;
      margin-right: 8px;
      margin-bottom:16px;
      float: left;
      filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.1));
    }


    .border {
      margin: 0;
      padding:0;
      margin-top: 8px;
      overflow:hidden scroll;
      width:90%;
      margin-bottom:56px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 8px;

    }


      .press{
        height: 360px;
        width:100%;
        overflow:scroll;
        border-top: solid 1px #232323;
      }

      .schedule-box{
       display: relative;
       width:100%;
       margin-top:16px;
       border-bottom: solid 1px #232323;
        }

      .tag{
        display: inline-block;
        padding:2px;
        background-color: #232323;
        color: #ffffff;
        bottom:-12px;
      }

      .date{
        display: inline-block;
        vertical-align: middle;
      }

      .schedule-detail{
        margin-top:0;!important
        top:-8px;
      }

      .c-block {
        padding-left: 16px;
        padding-right: 16px;
        margin-top:32px;
      }

      .m-b-80{
        margin-bottom:80px;
      }



    .schedule-box{
     margin-top:24px;
     border-bottom: solid 1px #232323;

    }

    .tag{
      display: inline-block;
      padding:2px;
      background-color: #232323;
      color: #ffffff;
      bottom:-12px;
    }

    .schedule-detail{
      margin-top:0;!important
      top:-8px;
    }

    .c-colm{
      position: relative;
      margin:0;
      margin-top: 20px;
    }

    .c-card{
      position: relative;
      padding:0;
      padding-top:16px;
      padding-bottom:32px;
      border-top: solid 1px #232323;
    }

    .c-c-media{
      position: relative;
      margin:0;
      margin-top:20px;
      padding:0px;
    }

    .c-c-text{
      padding-left: 16px;
      overflow: hidden;
      margin-bottom:40px;
    }

    .suzuri-widget-product{
      margin-left:auto;
      margin-right:auto;
    }

    .suzuri-widget-product-wrap {

    }

    .footer{
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 120px;
      border-top: solid 1px #232323;
    }



}

/*Tablet& Middle window*/
@media screen and (min-width: 480px)and (max-width: 1024px) {
  body {
    background-color: #EBEAE9;
    margin: 0;
    padding: 0;
  }

  ul{
    font-family: 'Noto Sans JP', sans-serif;
    font-size:16px:
  }

  .wrap {
    padding: 0;
    margin: 0;
  }

  .menubar {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-bottom: solid 1px #232323;
  }

  .pc-logo{
    display:none;

  }

  .logo{
    width:240px;
    position: relative;
    padding-left:16px;
    padding-top:8px;
    padding-bottom:8px;
  }

  .c-main {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .hero-header {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
  }

  .hero-text {
    display: inline-block;
    width: 36%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .h-t-mt {
    margin-top: 420px;
    border-bottom: solid 1px #232323;
  }

  .hero-image {
    display: inline-block;
    width: 100%;
  }

  .youtube iframe {
    position: relative;
    width: 100% !important;
    background-color: #cccccc;
  }

  .main-heading {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
  }


  .m-h-text {
    padding-left: 16px;
    padding-right:16px;
    display: inline-block;
    position: relative;
    width: 66%;
  }

  .m-h-content{
    margin-top:180px;
    margin-right:16px;
    width:100%;
    margin-bottom:80px;

  }



  .m-h-icon {
    display: inline-block;
    position: relative;
    width: 33%;
  }

  .sns{
    width:100%;
    display: flex;
    margin-top:24px;
  }

  .sns-icon{
    width:120px;
    height:37px;
    display: flex;
    margin-right: 16px;
    margin-bottom:16px;
    float: left;
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.1));
  }

  .sns-icon :hover{
    width:120px;
    height:37px;
    display: flex;
    margin-right: 16px;
    margin-bottom:16px;
    float: left;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
  }



  .border {
    padding: 8px;
    border-left: solid 1px #232323;
    border-top: solid 1px #232323;
    width:33%;
    height:360px;;
    overflow:scroll;
  }




    .press{
      height: 420px;
      overflow:scroll;
      border-top: solid 1px #232323;
    }

    .schedule-box{
     margin-top:16px;
     border-bottom: solid 1px #232323;

    }

    .tag{
      display: inline-block;
      padding:2px;
      background-color: #232323;
      color: #ffffff;
      bottom:-12px;
    }

    .date{
      display: inline-block;
      vertical-align: middle;
    }

    .schedule-detail{
      margin-top:0;!important
      top:-8px;
    }

    .c-block {
      padding-left: 16px;
      padding-right: 16px;
    }

    .c-2colm{
      display: flex;
      width:100%;
      padding-top:16px;
    }

    .c-card-left{
      display:inline-block;
      width:50%;

    }

    .c-card-right{
      float: right;
      display: inline-block;
      width:50%;
      padding:16px;
      margin-right: 16px;
      border-right: solid 1px #232323;
    }


  .c-colm{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top:0;
    margin-bottom: 80px;
    padding: 0px;
    width: 100%;
    display: flex;
  }

  .c-card{
    display:inline-block;
    width:33%;
    overflow: scroll;
    margin-top:40px;
    margin-left:8px;
    margin-right:8px;
    border-top: solid 1px #232323;
  }

  .c-c-media{
    position: relative;
    width:100%;
    margin:0;
    margin-top:20px;
    padding:0;
  }

  .suzuri-widget-product{
    margin-left:auto;
    margin-right:auto;
  }

  .suzuri-widget-product-wrap {

  }

  .c-c-text{
    width:100%;
    margin:0;
    padding:0;
    overflow: hidden;
    margin-bottom:40px;
  }

  .footer{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 120px;
    border-top: solid 1px #232323;
  }
}

/*PC*/
@media screen and (min-width: 1024px) {
  h1 {
  font-family: 'Audrey Medium';
  font-size: 42px;
  margin-top: 0;
  padding: 0;
}

h2 {
  font-family: 'Audrey Normal';
  font-size: 36px;
  margin-top: 0;
  padding: 0;
  margin-bottom:0;

}

h3{
  font-family: 'Noto Sans JP';
  font-size: 28px;
  margin: 0;
  padding: 0;
}

h4{
  font-family: 'Noto Sans JP', sans-serif;
  fontsize:24px;
}


p{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:16px:
}

ul{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:16px:
}

small{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  text-align: center;
}

  body {
    background-color: #EBEAE9;
    margin: 0;
  }

  .wrap {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
  }

  .menubar {
    display: inline-block;
    width: 6.25%;
    height: auto;
    margin-top: 24px;
    border-right: solid 1px #232323;
  }

  .pc-logo{
    padding-left:25%;
    padding-right:25%;
    padding-top:45%;
  }

  .logo{
    display:none;
  }

  .c-main {
    display: inline-block;
    position: relative;
    width: 93.75%;
    padding: 0;
    margin: 0;
  }

  .hero-header {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
  }

  .hero-text {
    display: inline-block;
    width: 36%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0px;
  }

  .h-t-mt {
    margin-top: 420px;
    border-bottom: solid 1px #232323;
  }

  .hero-image {
    display: inline-block;
    width: 100%;
    height: 480px;
  }

  .youtube iframe {
    position: relative;
    width: 100%;
    background-color: #cccccc;
  }

  .main-heading {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
  }

  .m-h-text {
    padding-left: 16px;
    padding-right:16px;
    display: inline-block;
    position: relative;
    width: 66%;
  }

  .m-h-content{
    margin-top:180px;
    margin-right:16px;
    width:100%;
    margin-bottom:80px;
  }

  .m-h-icon {
    display: inline-block;
    position: relative;
    width: 33%;
  }

  .sns{
    width:100%;
    display: flex;
    margin-top:24px;
  }

  .sns-icon{
    width:120px;
      height:37px;
    display: flex;
    margin-right: 16px;
    margin-bottom:16px;
    float: left;
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.1));
  }

  .sns-icon :hover{
    width:120px;
    height:37px;
    display: flex;
    margin-right: 16px;
    margin-bottom:16px;
    float: left;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
  }

  .border {
    padding: 16px;
    border-left: solid 1px #232323;
    border-top: solid 1px #232323;
    width:33%;
    height:480px;
  }

  .press{
    height: 420px;
    overflow:scroll;
    border-top: solid 1px #232323;
  }

  .schedule-box{
   margin-top:16px;
   border-bottom: solid 1px #232323;

  }

  .tag{
    display: inline-block;
    padding:2px;
    background-color: #232323;
    color: #ffffff;
    bottom:-12px;
  }

  .date{
    display: inline-block;
    vertical-align: middle;
  }

  .schedule-detail{
    margin-top:0;!important
    top:-8px;
  }

  .c-block {
    padding-left: 16px;
    padding-right: 16px;
  }

  .c-2colm{
    display: flex;
    width:100%;
    padding-top:16px;
  }

  .c-card-left{
    display:inline-block;
    width:50%;

  }

  .c-card-right{
    float: right;
    display: inline-block;
    width:50%;
    padding:16px;
    margin-right: 16px;
    border-right: solid 1px #232323;
  }

  .c-colm{
    position: relative;
    margin: 0;
    margin-bottom:32px;
    padding: 0;
    width: 100%;
    display: flex;
  }

  .c-card{
    display:inline-block;
    width:33%;
    overflow: scroll;
    float:right;

    margin-top:40px;
    margin-right:16px;

    border-top: solid 1px #232323;
  }

  .c-c-media{
    position: relative;
    width:100%;
    margin:0;
    margin-top:20px;
    padding:0;
  }

  .c-c-text{
    width:100%;
    margin:0;
    padding:0;
    margin-bottom:40px;
  }

  .suzuri-widget-product{
    margin-left:auto;
    margin-right:auto;
  }

  .suzuri-widget-product-wrap {

  }

  .footer{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 120px;
    border-top: solid 1px #232323;
  }

  .m-b-80{
    margin-bottom:120px;
  }
}
