@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 400, 16px,'Noto Sans JP', sans-selif;
  line-height: 1.75em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: inside
}

blockquote, q {
  width: 100%;
  quotes: none;
  border-left: 4px solid #d4dde1;
  background-color: rgba(212, 221, 225, 0.5);
  margin-top: 24px;
  margin-bottom: 24px;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none
}

.quote {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 16px;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  overflow-x: hidden
}

.clear {
  clear: both
}

.footer {
  height: 64px;
  width: 100%;
  background-image: url(main_vi.png);
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16%;
  padding-right: 16%;
}

.footer-icon {
  display: inline-block;
  margin-right: 8px;
  top:-8px;
}

.footer-link {
  display: inline;
  font: 400 14px "Noto Sans JP";
  color: #000;
  margin-left: 3%;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-copyright {
  float: right;
  height: 100%;
  margin-top: 7px;
  text-align: right;
  font: 400 10px "Noto Sans JP";
}

.header {
  display: table;
  padding-top: 64px;
  padding-left: 16%;
  padding-right: 16%;
  position: relative;
  width: 100%;
  background-image: url(main_vi.png);
  background-size: cover;
}

.header-wrapper {
  color: #fff;
  display: relative;
  text-align: left;
  vertical-align: middle;
}

.header-center {
  margin: 0;
  width: 90%
}

.header-avatar {
  border: 5px solid rgba(255, 255, 255, 0.4);
  display: inline-block;
  margin-bottom: 25px;
  overflow: hidden;
}

.header-title {
  font: bold 42px "Noto Sans JP";
  word-wrap: break-word;
  font-weight: 700;
  color: #000;
}

.header-description {
  position: relative;
  margin-top: 24px;
  font-family: 'Noto Sans JP';
  font-size: 16px;
  color: #000;
}

.header-description a {
  border-bottom: 1px solid #fff;
  color: #fff;
}

#infscr-loading {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  bottom: 25px;
  left: 50%;
  padding: 5px 10px;
  position: fixed;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000
}

#infscr-loading img {
  margin-bottom: 10px
}

.post-media {
  height: 0;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 25px;
  position: relative
}

.post-media iframe, .post-media video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.post-audio-player iframe {
  width: 100%
}

.menu {
  display: auto;
  margin-top: 32px;
  margin-bottom: 25px
}

.menu-responsive {
  display: block;
}

#drawer-checkbox {
  display: none;
}

#drawer-checkbox:checked {}

.menu-responsive-icon {
  display: none;
}

.menu-responsive-icon-close {
  display: none;
}

.menu-list {
  margin: auto;
  max-width: 1800px;
  padding: 0;
  text-align: left
}

.menu-item {
  display: inline
}

.menu-slash {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url(slash.png);
  background-size: 14px 14px;
}

.menu-link, .menu-search {
  display: inline-block;
  font: 700 16px "Noto Sans JP";
  color:#000;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.menu-link:hover {
  font: 700 16px "Noto Sans JP";
  color: #fff;
  background-color: #000;
}

.menu-line {
  bottom: 0;
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: width 0.25s;
  -moz-transition: width 0.25s;
  -o-transition: width 0.25s;
  transition: width 0.25s;
  width: 0
}

.menu-link:hover .menu-line {
  width: 100%
}

.menu-form {
  display: inline
}

.menu-search {
  border: none;
  display: inline-block;
  outline: none;
  text-align: center;
  width: 70px
}

/*
.notes-wrapper {
  color: #888;
  font: 12px 'Montserrat';
  margin: 0 auto 50px;
  padding: 25px;

}*/
.notes {
  list-style: none
}

.note {
  line-height: 22px;
  padding: 10px 0
}

.note:first-child {
  padding-top: 0
}

.note .avatar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: -2px;
  vertical-align: middle
}

.note a {
  color: #444;
  font-weight: bold
}

.note blockquote {
  border-left: 2px solid #ccc;
  padding-left: 16px
}

.note blockquote a {
  font-weight: normal;
  text-transform: none
}

.more_notes_link {
  font-size: 14px;
  margin-top: 16px
}

.disqus-wrapper {
  color: #888;
  font: 12px 'Montserrat';
  margin: 0 auto 50px;
  padding: 25px;
}

.disqus-link {
  display: block;
  margin-top: 10px
}

.pager {
  margin-top: 40px
}

.pager-list {
  text-align: center
}

.pager-item {
  display: inline
}

.pager-link {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font: 14px/30px "Montserrat";
  height: 30px;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 30px
}

.pager-link:hover, .pager-link.is-active {
  background: #fff
}

.container {
  display: relative;
  margin: 0;
  padding-left: 16%;
  padding-right: 16%;
}

#container .post-caption a {
  text-decoration: underline;
}

#container .post-caption a:hover {
  text-decoration: none;
}

.posts-wrapper {
  margin: 0;
  width: 100%
}

.posts-header {
  font: bold 16px/30px "Noto Sans JP";
  text-align: center;
  word-wrap: break-word;
  background-color: linear-gradient(transparent 0%, #f5ff00 60%)
}

.posts-header:hover {
  background-image: none;
}

.post, .notes-wrapper, .disqus-wrapper {
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 100%
}

.is-grid .post {}

.post-title strong {
  font: 700 32px "Noto Sans JP";
  word-wrap: break-word;
  background: linear-gradient(transparent 55%, #F5FF00 20%);
}

.post-title:hover strong {
  background-image: none;
  border-bottom: solid;
  border-width: 1px;

}

.post-date {
  margin-top: 12px;
  font: 400 12px "Noto Sans JP";
}

.post-figure {
  overflow: hidden;
  text-align: center;
  width: 100%
}

.post-figure-img {
  display: block;
  height:400px;
  margin:0 auto;
}

/*
.post-header, .post-caption, .post-blockquote {
  padding: 25px 25px 0;
  text-align: left
}*/
.post-header {
  margin-top: 64px;
  margin-bottom: 48px;
}

.highres-link {
  outline: none
}

.post-caption {
  word-wrap: break-word
}

.post-caption a {
  color: #000
}

.post-caption blockquote {
  border-left: 2px solid #ccc;
  margin: 16px 0 16px 16px;
  padding-left: 16px
}

.post-caption h2 {
  font: 16px/24px "Noto Sans JP";
  margin-top: 48px;
}

.post-caption hr {
  background: #ccc;
  border: none;
  height: 1px
}

.post-caption *+h2 {
  margin-top: 48px
}

h3 {
  font: 700 24px "Noto Sans JP";
  margin-top: 48px;
}

h4 {
  font: 700 20px "Noto Sans JP";
  margin-top: 48px;
}

h5 {
  font: 700 18px "Noto Sans JP";
  margin-top: 48px;
}

h6 {
  font: 700 16px "Noto Sans JP";
  margin-top: 48px;
}



.post-caption *+hr {
  margin-top: 16px
}

.post-caption *+p {
  margin-top: 16px
}

.post-caption *+ul, .post-caption *+ol {
  margin-top: 16px
}

.post-caption *+ul ul, .post-caption *+ul ol, .post-caption *+ol ul, .post-caption *+ol ol {
  margin-left: 16px
}

.post-blockquote .post-caption {
  padding-left: 0
}

.post-header-link:before {
  content: '\203A';
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: -2px
}

.post-chat-list {
  list-style: none
}

.read_more {
  font: bold 14px "Montserrat";
}

.read_more:after {
  content: ' \00bb'
}

.post-answer-image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle
}

.post-answer .post-blockquote .post-caption {
  color: #666;
  font: bold 12px "Montserrat";
}

.post-footer {
  position: relative;
  padding-top: 48px;
  padding-bottom: 64px;
  border-bottom: 1px solid #7d8d99;
}

.post-tag-list {
  display: inline;
  ;
  position: relative;
  width: 70%;
}

.post-tag-item {
  border: 1px solid #000;
  display: inline;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  color: #000;
  display: inline-block;
  font: 400 14px "Noto Sans JP";
}

.post-tag-item:hover {
  background-color: #000;
  color: #fff;
}

.post-sns-list {
  display: inline;
  float: right;
}

.post-sns-icon {
  display: inline;
  padding-left: 16px;
}

.facebook:hover {
  display: inline;
  padding-left: 16px;

}

.post-tag-link:hover {
  background: #fff
}

.post-tag-link:before {
  content: '#'
}

.post-info-list {
  float: left;
  width: 80%
}

.post-info-item {
  display: inline
}

.post-info-link {
  color: #bbb;
  font: 12px/24px "Montserrat";
  text-transform: lowercase
}

.post-info-icon {
  display: inline-block;
  height: 10px;
  margin-right: 2px;
  opacity: .3;
  vertical-align: middle;
  width: 10px
}

.post-info-notes:before {
  color: #ddd;
  content: ' \00b7 ';
  font-weight: 400;
  margin: 0 3px
}

.post-info-source {
  display: block;
  text-transform: none
}

.post-info-via {
  display: block
}

.post-share-list {
  bottom: 23px;
  position: absolute;
  right: 25px
}

.post-share-item {
  cursor: pointer;
  display: inline;
  margin: 0 2px;
  opacity: .2;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s
}

.post-share-item:hover {
  opacity: 1
}

.post-share-item:hover .post-social-list {
  opacity: 1;
  visibility: visible
}

.post-share-reblog a, .post-share-like div {
  display: inline-block !important
}

.post-share-icon {
  display: inline-block;
  height: 17px;
  width: 15px
}

.post-social-list {
  background: #fefefe;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  left: 50%;
  margin-left: -55px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  top: -94px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  visibility: hidden;
  width: 110px;
  z-index: 100
}

.post-social-list:after {
  background: #fff;
  bottom: -5px;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  z-index: 99
}

.post-social-item {
  display: block;
  height: 25px;
  padding: 0 5px
}

.post-social-link {
  color: #444;
  font: bold 10px/25px "Montserrat";
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s
}

.post-social-icon {
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
  width: 15px
}

@media screen and (max-width: 560px) {
  .header {
    display: absolute;
    padding-left: 32px;
    padding-right: 32px;
    background-size: cover;
    padding-top: 0px;
  }

  .header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px;
    top: 0px;
    vertical-align: none;
  }

  .header-center {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top:32px;
    padding-bottom:0px;
  }

  .header-title {
    font-size: 32px;
  }

  .header-description {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 32px;
  }

  .header-title {
    width: 75%;
    word-break: normal;
  }

  .menu {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    display: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
  }

  .menu-responsive {
    display: block;
    height: 24px;
    margin-top: 32px;
  }

  #drawer-checkbox {
    display: none;
  }

  .menu-responsive-icon {
    display: flex;
    position: absolute;
    margin-top: 0px;
    padding-top: 0px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url(./humberger.png);
    background-size: cover;
  }

  .menu-list {
    display: inline-block;
    z-index: 10;
    width: 250px;
    height: 100%;
    padding-top: 64px;
    margin-bottom:0px;
    top: -32px;
    bottom:0px;
    position: absolute;
    right: -282px;
    background-color: #000;
    visibility: collapse;
    transition: all 300ms 0s ease;
  }

  #drawer-checkbox:checked~.menu-list {
    visibility: visible;
    right: -32px;
  }

  .menu-responsive-icon-close {
    position: absolute;
    display: block;
    right: 56px;
    width: 24px;
    height: 24px;
    top:32px;
    background-image: url(./close.png);
    background-size: cover;
  }

  .menu-item {
    display: inline-block;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 16px;
  }

  .menu-link {
    display: inline-block;
    font: 700 16px "Noto Sans JP";
    color:#fff;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }

  .menu-search{
    display: inline-block;
    font: 400 16px "Noto Sans JP";
    color:#000;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }

  .menu-slash {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(slash_w.png);
    background-size: 14px 14px;
    background-color: none;
  }

  .menu-link {
    margin-bottom: 0px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: 200px;
    background-image: url(main_vi.png);
    background-size: cover;
  }

  .footer-link {
    display: block;
    font: 400 14px "Noto Sans JP";
    color: #000;
    margin-top: 16px;
    margin-left: 0px;
  }

  .footer-icon {
    display: run-in;
    margin-right: 8px;
  }

  .footer a {
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer-copyright {
    float: none;
    display: block;
    margin-top: 16px;
    text-align: left;
    font: 400 10px "Noto Sans JP";
    height: auto;
  }

  .post-sns-list {
    margin-top: 16px;
    float: none;
    display: block;
  }

  .post-sns-icon {
    padding-left: 0px;
    padding-right: 16px;
  }
}
